<% include header %>
    <div class="container">
        <h1>Espace admin</h1>
        <div>
            <p>A partir de cette plateforme vous pouvez gerer votre cv.</p>
        </div>
        <div class="row">
            
            <div class="card col-md-4 marginRight">
                <div class="card-body">
                    <h5 class="card-title">Compétences</h5>
                    <p class="card-text">Gestion des compétences de votre cv.</p>
                    <a href="/competences" class="btn btn-primary">let's go</a>
                </div>
            </div>
            <div class="card card col-md-4 marginRight">
                <div class="card-body">
                    <h5 class="card-title">Expériences</h5>
                    <p class="card-text">Gestion des expxérience de votre cv.</p>
                    <a href="/experiences" class="btn btn-primary">let's go</a>
                </div>
            </div>
            <div class="card card col-md-4 marginRight">
                <div class="card-body">
                    <h5 class="card-title">Book</h5>
                    <p class="card-text">Gestion du Book de votre cv</p>
                    <a href="/books" class="btn btn-primary">let's go</a>
                </div>
            </div>
        </div>

    </div>
    <% include footer %>