.bottomMargin {
    margin-bottom: 30px;
}

.material-icons.delete {
    color: #ff3333;
    font-size: 0.8em;
}

.material-icons.add {
    color: #40bf80;
    font-size: 1em;
}

.material-icons.update {
    color: #4d79ff;
    font-size: 0.8em;
}

.margin {
    margin-bottom: 70px;
}

.marginRight {
    margin: 10px;
}