<% include ../header %>
    <div class="container">
        <h1>Mes compétences <a href="/competences/add"><span class="material-icons add">add_circle_outline</span></a></h1>
        <div class="row">
            <% for(competence of competences) { %>
                <div class="col-md-4 bottomMargin">
                    <p>
                        <a href="/competences/<%= competence.id %>"> <%= competence.nom %> </a> // <%= competence.type %>
                    </p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= competence.niveau %>%;" aria-valuenow="<%= competence.niveau %>" aria-valuemin="0" aria-valuemax="100"><%= competence.niveau %>%</div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
<% include ../footer %>