<% include ../header %>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Ajouter une compétence</h1>

                <form action="/competences/add" method="POST">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Compétence</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="nom" placeholder="compétence">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Niveau en %</label>
                        <input type="number" class="form-control" id="exampleFormControlInput1" name="niveau" placeholder="ex: 90%">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Type</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="type">
                            <option>web</option>
                            <option>outil</option>
                            <option>framework</option>
                            <option>logiciel</option>
                            <option>bio</option>
                            <option>graphisme</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
<% include ../footer %>