<% include ../header %>
<div class="container">
        <h1>
            <%= competence.nom %> 
            <a href="/competences/<%= competence.id %>/delete"><span class="material-icons delete">clear</span></a>
        </h1>

        <p>
            <%= competence.type %>
        </p>
        <div class="progress margin"">
            <div class="progress-bar" role="progressbar" style="width: <%= competence.niveau %>%;" aria-valuenow="<%= competence.niveau %>"
                aria-valuemin="0" aria-valuemax="100">
                <%= competence.niveau %>%</div>
        </div>

        <h2>update</h2>
        <form action="/competences/<%= competence.id %>/update" method="POST">
            <div class="form-group">
                <label for="exampleFormControlInput1">Compétence</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="nom" value="<%= competence.nom %>">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Niveau en %</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" name="niveau" value="<%= competence.niveau %>">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Type</label>
                <select class="form-control" id="exampleFormControlSelect1" name="type">
                    <option>web</option>
                    <option>outil</option>
                    <option>framework</option>
                    <option>logiciel</option>
                    <option>bio</option>
                    <option>graphisme</option>
                    <option selected><%= competence.type %></option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
<% include ../footer %>