<% include ../header %>
    <div class="container">
        <h1>Mon Book
            <a href="/books/add">
                <span class="material-icons add">add_circle_outline</span>
            </a>
        </h1>
        <div class="row">
            <% for(book of books) { %>
                <div class="card card col-md-3 marginRight style=" width: 18rem;">
                    <div class="card-body ">
                            <h5 class="card-title ">
                                <a href="/books/<%=book.id %>" >
                    <%=book.title%>
                        </a>
                        </h5>
                        <p class="card-text">
                                <%= book.link %> // <%= book.image %> 
                            </p>
                        <p class="card-text">
                            <%= book.content %>
                        </p>
                        <p class="card-text text-right">
                            <a href="/books/<%= book.id %>" class="btn btn-outline-primary">plus...</a>
                        </p>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
    <% include ../footer %>