<% include ../header %>
<div class="container">
        <h1>
            <%=book.title%>
            <a href="/books/<%= book.id %>/delete"><span class="material-icons delete">clear</span></a>
        </h1>

            <p class="card-text">
                    <%= book.link %> // <%= book.image %> 
                </p>
            <p class="card-text">
                <%= book.content %>
            </p>
    
     
        <h2>update</h2>
            <form action="/books/<%= book.id %>/update" method="POST">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" value="<%= book.title %>">
                </div>
                <div class="form-group">
                    <label for="link">Link</label>
                    <input type="text" class="form-control" id="link" name="link" value="<%= book.link %>">
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input type="text" class="form-control" id="image" name="image" value="<%= book.image %>">
                </div>
                <div class="form-group">
                        <label for="content">Content</label>
                        <textarea class="form-control" id="content" name="content" rows="3"><%= book.content %></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
<% include ../footer %>