<% include ../header %>
    <div class="container">
        <h1>Mes experiences <a href="/experiences/add"><span class="material-icons add">add_circle_outline</span></a></h1>
        <div class="row">
            <% for(experience of experiences) { %>
           
                <div class="card card col-md-3 marginRight">
                    <div class="card-body">
                        <h5 class="card-title"><%= experience.date %> <a href="/experiences/<%= experience.id %>" ><%=experience.poste%></a></h5>
                        <p class="card-text">
                            <%= experience.type %> // 
                            <%= experience.lieu %> // 
                            <%= experience.entreprise %> // 
                            <%= experience.date %> // 
                            <a href="/experiences/<%= experience.id %>" >plus...</a>
                        </p>
                        
                    </div>
                </div>
                <% } %>
        </div>
    </div>
<% include ../footer %>