<% include ../header %>
    <div class="container">

        <h1>Ajouter une experience</h1>

        <form action="/experiences/add" method="POST">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="poste">poste</label>
                        <input type="text" class="form-control" id="poste" name="poste" placeholder="developpeur web">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="titleShort">titleShort</label>
                        <input type="text" class="form-control" id="titleShort" name="titleShort" placeholder="dev web">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="date">date</label>
                        <input type="text" class="form-control" id="date" name="date" placeholder="2018">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Type">lieu</label>
                        <input type="text" class="form-control" id="lieu" name="lieu" placeholder="https://adrienjuhem.fr">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="entreprise">entreprise</label>
                        <input type="text" class="form-control" id="entreprise" name="entreprise" placeholder="Google">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="url">url</label>
                        <input url="text" class="form-control" id="url" name="url" placeholder="https://adrienjuhem.fr">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="photo">photo name</label>
                        <input type="text" class="form-control" id="photo" name="photo" placeholder="pic.png">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="type">type</label>
                        <select class="form-control" id="type" name="type">
                            <option>work</option>
                            <option>school</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="resume">resume</label>
                <textarea class="form-control" id="resume" name="resume" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label for="text">text</label>
                <textarea class="form-control" id="text" name="text" rows="3"></textarea>
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>


    </div>
    </form>

    <% include ../footer %>