<% include ../header %>
    <div class="container">
        <h1>
            <%= experience.poste %>
                <a href="/experiences/<%= experience.id %>/delete">
                    <span class="material-icons delete">clear</span>
                </a>
        </h1>
        <div class="card-body">
            <p class="card-text">
                <strong>Description:</strong>
                <%=experience.date%>,
                <%= experience.lieu %> chez
                <%= experience.entreprise %> :
                <%= experience.type %>.
            </p>
            <p class="card-text">
                <strong>Resumé:</strong>
                <%= experience.resume %>
            </p>
            <p class="card-text">
                <strong>Text:</strong>
                <%= experience.text %>
            </p>
        </div>

        <h2>update</h2>
        <form action="/experiences/<%= experience.id %>/update" method="POST">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="poste">poste</label>
                        <input type="text" class="form-control" id="poste" name="poste" value="<%= experience.poste %>" placeholder="developpeur web">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="titleShort">titleShort</label>
                        <input type="text" class="form-control" id="titleShort" name="titleShort" value="<%= experience.titleShort %>" placeholder="dev web">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="date">date</label>
                        <input type="text" class="form-control" id="date" name="date" value="<%= experience.date %>" placeholder="2018">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Type">lieu</label>
                        <input type="text" class="form-control" id="lieu" name="lieu" value="<%= experience.lieu %>" placeholder="https://adrienjuhem.fr">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="entreprise">entreprise</label>
                        <input type="text" class="form-control" id="entreprise" name="entreprise" value="<%= experience.entreprise %>" placeholder="Google">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="url">url</label>
                        <input url="text" class="form-control" id="url" name="url" value="<%= experience.url %>" placeholder="https://adrienjuhem.fr">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="photo">photo name</label>
                        <input type="text" class="form-control" id="photo" name="photo" value="<%= experience.photo %>" placeholder="pic.png">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="type">type</label>
                        <select class="form-control" id="type" name="type">
                            <option selected>
                                <%= experience.type %>
                            </option>
                            <option>work</option>
                            <option>school</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="resume">resume</label>
                <textarea class="form-control" id="resume" name="resume" rows="3"><%= experience.resume %></textarea>
            </div>

            <div class="form-group">
                <label for="text">text</label>
                <textarea class="form-control" id="text" name="text" rows="3"><%= experience.text %></textarea>
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>


    </div>
    </form>
    </div>
    <% include ../footer %>